.Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: content-box;

  &-group {
    display:flex;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 4rem;
  }
}

