@import "../../partials/mixins";

.Card {
  cursor: pointer;
  border-radius: 10px;
  border: 12px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(phone-landscape) {
    transform: scale(.7);
  }

  @include media(phone-landscape-small) {
    border: 9px solid white;
  }

  @include media(tab-portrait) {
    transform: scale(.7);
  }

  @include media(phone-small) {
      margin: 0 -2rem;
  }

  &:active {
    border: 12px solid #FC4445;
  }

  &-image {
    width: 100%;
    transform: scale(1.05);
    border-radius: 5px;

    @include media(tab-portrait) {
      height: 100%;
    }
  }
}