.Card {
  cursor: pointer;
  border-radius: 10px;
  border: 12px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    border: 12px solid #FC4445;
  }

  img {
    transform: scale(1.05);
    border-radius: 5px;
  }
}