*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #97CAEF;
}

.App {
  &-name {
    font-size: 6rem;
    text-align: center;
  }

  &-score {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}