@import "./partials/mixins";

*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100vh;

  @include media(tab-landscape) {
    font-size: 54%;
  }

  @include media(tab-landscape-small) {
    font-size: 43%;
  }

  @include media(phone-landscape-small) {
    font-size: 38%;
  }

  @include media(phone-extra-small) {
    font-size: 33%;
  }
}

body {
  box-sizing: border-box;
  background-color: #97CAEF;
  font-family: 'Open Sans', sans-serif;
}

.App {
  &-name {
    font-size: 6rem;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 1.5rem auto;
  }
}